<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta charset="utf-8" />
    <title>Ultra-Rare</title>
</head>

<body>
    
    <nav>
        <a href="/store/new">Add a New Item</a>
    </nav>
    <div id="shop-title">
        <h1>Ultra Rare Fight Gear Shop</h1>

    </div>
    <div class="index-container">
                <ul>
                    <% products.forEach(product=> { %>
                        <li>
                            <!-- making a link to specific item (id) and displaying the name -->
                            <a href="/store/<%=product._id %>">
                               <div id="index-name">
                                   <h3> <%=product.name; %> </h3>
                               </div>
                               <div id="index-img">
                                   <img src=<%=product.img %> >
                               </div>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
            </div>
        
        </div>
</body>

</html>